:root {
  --primary-color: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.image {
  width: 40px;
  height: 40px;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Robotto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

.linksList {
  display: flex;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 60px;
}

.links {
  font-size: 12px;
  text-transform: uppercase;
  list-style: none;
  display: inline-flex;
}

.linksHref {
  color: #000;
  text-decoration: none;
}

.linksHref:hover {
  color: var(--primary-color);
}

.Laptops {
  color: var(--primary-color);
}

.apple {
  color: #000;
}

.is-active {
  color: var(--primary-color);
  position: relative;
  text-decoration: none;
}

.is-active:hover {
  color: var(--primary-color);
}

[data-qa='hover'] {
  color: var(--primary-color);
  text-decoration: none;
}

.is-active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
}

li:not(:first-child) {
  margin-left: 10px;
}
